<%= form_for [@post, @post.comments.build], remote: true do |f| %>
    <%= f.label :body, "Body" %>
    <div class="input-group">
       <%= f.text_field :body %>
    </div>
   <p><div>
       <%= f.submit "Create Comment", class: 'btn btn-default' %>
   </div></p>
<% end %>