<%= form_for [@post, @post.comments.new] do |f| %>
    <%= f.label :body, "Body" %>
    <div class="input-group">
       <input type="text" class="form-control" aria-describedby="basic-addon2">
    </div>
   <p><div>
       <%= f.submit "Create Comment", class: 'btn btn-default' %>
   </div></p>
<% end %>