.social-btn {
	width: 130px;
    border: 5px solid #003399;
    padding: 20px;
    margin: 10px;
    font: bold 14px/5px "Arial Black", Gadget, sans-serif;
    text-align: center;
    height: 5px;
    color: blue;
    position: absolute;
	top: 2;
	left: 7.5%;
}

